extends layout

block content
  div(class="w3-panel w3-pale-blue w3-leftbar w3-rightbar w3-border-blue")
    h1(class="w3-center")=data.titulo
    p
        b Descrição: 
        =data.descricao
  h2(class="w3-center") Descendentes
  table(class="w3-table w3-striped w3-border")
    tr(class="w3-blue")
      th Código
      th Titulo
    each ele in data.filhos
      tr 
        td
          a(href="/classes/c"+ele.codigo)=ele.codigo 
        td=ele.titulo 
  p(class="w3-center")
    a(href="/") Página Inicial