extends layout

block content
  h1(class="w3-center") CLAV
  p A CLAV é uma plataforma em desenvolvimento no DI/UM em parceria e sob encomenda da Direção Geral do Livro, Arquivos e Bibliotecas (DGLAB) que visa a classificação e a avaliação de toda a documentação circulante na administração pública portuguesa.
  div 
    p Aceder a:
      ul 
        li
          a(href="/classes") Classes
        li
          a(href="/termos") Termos de índice